<style>
    .gradient-footer {
        background: linear-gradient(to right, #000000, #444444);
    }
</style>


<section class="text-white text-center p-3 gradient-footer">
    <p class="m-0">&copy; @DateTime.Now.Year Martin Kulev. All rights reserved.</p>
</section>
