@inherits LayoutComponentBase

<PageTitle>MartinKulev</PageTitle>
<section class="d-flex flex-column">
    <nav>
        <NavMenu />
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</section>
