@inherits LayoutComponentBase

<PageTitle>MartinKulev</PageTitle>
<section class="d-flex flex-column main-section">
    <header>
        <NavMenu />
    </header>

    <main class="content px-4 flex-grow-1">
        @Body
    </main>


    <footer>
        <Footer />
    </footer>
</section>



