@page "/"

<PageTitle>Index</PageTitle>

<section>
    <h1>Welcome to my website!</h1>

    <p class="fs-5">
        Here is a welcome drink
        <i class="bi bi-cup-straw fs-4 text-info"></i>
    </p>

    <div class="image-collage mb-5">
        <img src="/MartinKulevBody.jpg" alt="Martin Kulev" class="collage-image" />
        <img src="/Coding.jpg" alt="Coding" class="collage-image" />
        <img src="/GymBestPicture.jpg" alt="Gym" class="collage-image" />
        <img src="/DubaiMe.jpg" alt="Dubai" class="collage-image" />
    </div>
</section>

