@page "/workexperience"
@using MartinKulev.Shared.Components
<PageTitle>Work Experience</PageTitle>
<h3 class="text-center">Work Experience</h3>

<WorkExperienceItem JobTitle="Full-Stack .NET Developer" Company="The Better Platform" StartDate="new DateTime(2024, 7, 8)" EndDate="null" Location="Sofia, Bulgaria" ImagePath="/WorkExperience/TheBetterPlatform.svg" OnClickPath="/workexperience/thebetterplatform"
                    Description="Developed various types of logic for an online casino, inlcuding a jackpot microservice, a tournament feature, prize drop service, and a real-time roulette betting logic using .NET. Also worked on a backoffice application using Blazor."></WorkExperienceItem>

<WorkExperienceItem JobTitle="Programming Instructor" Company="Logiscool" StartDate="new DateTime(2024, 1, 17)" EndDate="new DateTime(2024, 6, 30)" Location="Sofia, Bulgaria" ImagePath="/WorkExperience/Logiscool.jpg" OnClickPath="/workexperience/logiscool"
                    Description="Taught children to code using the Scratch programming language."></WorkExperienceItem>

