@page "/workexperience"
@using MartinKulev.Shared.Components
<PageTitle>Work Experience</PageTitle>
<h3 class="text-center">Work Experience</h3>

<WorkExperienceItem JobTitle=".NET Software Developer" Company="The Better Platform" Duration="July 2024 - Present" Location="Sofia, Bulgaria" ImagePath="/TheBetterPlatform.svg" OnClickPath="/workexperience/thebetterplatform"
                    Description="Developed various types of logic for an online casino, inlcuding a jackpot system, a tournament feature and a real-time roulette betting logic using .NET. Also worked on a backoffice application using Blazor."></WorkExperienceItem>

<WorkExperienceItem JobTitle="Programming Instructor" Company="Logiscool" Duration="Jan 2024 - June 2024" Location="Sofia, Bulgaria" ImagePath="/Logiscool.jpg" OnClickPath="/workexperience/logiscool"
                    Description="Taught children to code using the Scratch programming language."></WorkExperienceItem>

