@page "/lifeevents"
@using MartinKulev.Shared.Components

<PageTitle>Life Events</PageTitle>

<h3 class="text-center mb-5">Life Events</h3>
<div class="container py-5">
    <div class="timeline">
        <TimelineItem Position="left" ImagePath="/Coding.jpg" Description="Started a job as a Software Developer" Date="8th July, 2024"></TimelineItem>
        <TimelineItem Position="right" VideoPath="/MovedOut.mp4" Description="Moved Out" Date="21st June, 2024"></TimelineItem>
        <TimelineItem Position="left" ImagePath="/HighSchoolGraduation.jpg" Description="Graduated High School" Date="29th May, 2024"></TimelineItem>
    </div>
</div>