@page "/education"
@using MartinKulev.Shared.Components
<PageTitle>Work Experience</PageTitle>
<h3 class="text-center">Work Experience</h3>

<EducationItem Specialization="Full-Stack .NET Developer" School="SoftUni" StartDate="new DateTime(2021, 9, 15)" EndDate="new DateTime(2024, 5, 19)" Location="Sofia, Bulgaria" ImagePath="/Softuni.png" OnClickPath="/education/softuni"
               Description="Gained full-stack programming skills, ready for professional industry work."></EducationItem>

<EducationItem Specialization="Computer Engineering and Technologies" School="SPGE &quot;John Atanasov&quot;" StartDate="new DateTime(2019, 9, 15)" EndDate="new DateTime(2024, 5, 19)" Location="Sofia, Bulgaria" ImagePath="/SPGE.png" OnClickPath="/education/spge"
               Description="Studied computer hardware, computer networks, system diagnostics, C++ programming, and microcontroller programming using Arduino."></EducationItem>