.tech-card {
    background-color: #fffac0;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.form-range {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: linear-gradient( to right, #0d6efd 0%, #0d6efd var(--val), #ddd var(--val), #ddd 100% );
}

    .form-range::-webkit-slider-thumb {
        appearance: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #0d6efd;
        border: 2px solid white;
    }

    .form-range::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #0d6efd;
        border: 2px solid white;
    }

    .form-range::-webkit-slider-runnable-track {
        background: transparent;
    }

    .form-range::-moz-range-track {
        background: transparent;
    }
