<style>
    .btn-github {
        border: 2px solid #211F1F;
        color: #211F1F;
        font-size: 1.2rem;
    }

        .btn-github:hover {
            background-color: #211F1F;
            color: white;
        }

    .btn-linkedin {
        border: 2px solid #0077b5;
        color: #0077b5;
        font-size: 1.2rem;
    }

        .btn-linkedin:hover {
            background-color: #0077b5;
            color: white;
        }

    .btn-gmail {
        border: 2px solid #ea4335;
        color: #ea4335;
        font-size: 1.2rem;
    }

        .btn-gmail:hover {
            background-color: #ea4335;
            color: white;
        }

    .btn-twitter {
        border: 2px solid #1da1f2;
        color: #1da1f2;
        font-size: 1.2rem;
    }

        .btn-twitter:hover {
            background-color: #1da1f2;
            color: white;
        }

    .btn-threads {
        border: 2px solid #000000;
        color: #000000;
        font-size: 1.2rem;
    }

        .btn-threads:hover {
            background-color: #000000;
            color: white;
        }

    .btn-instagram {
        border: 2px solid #e4405f;
        color: #e4405f;
        font-size: 1.2rem;
    }

        .btn-instagram:hover {
            background-color: #e4405f;
            color: white;
        }

    .btn-facebook {
        border: 2px solid #1877f2;
        color: #1877f2;
        font-size: 1.2rem;
    }

        .btn-facebook:hover {
            background-color: #1877f2;
            color: white;
        }

    .btn-tiktok {
        border: 2px solid #000000;
        color: #000000;
        font-size: 1.2rem;
    }

        .btn-tiktok:hover {
            background-color: #000000;
            color: white;
        }

    .btn-youtube {
        border: 2px solid #ff0000;
        color: #ff0000;
        font-size: 1.2rem;
    }

        .btn-youtube:hover {
            background-color: #ff0000;
            color: white;
        }

    .btn-twitch {
        border: 2px solid #9146ff;
        color: #9146ff;
    }

        .btn-twitch:hover {
            background-color: #9146ff;
            color: white;
        }

</style>

@page "/linktree"

<h3 class="text-center">LinkTree</h3>

<section class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
    <a href="https://github.com/MartinKulev" target="_blank" class="btn btn-github mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-github me-2"></i> Github
    </a>
    <a href="https://www.linkedin.com/in/martinkulev/" target="_blank" class="btn btn-linkedin mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-linkedin me-2"></i> Linkedin
    </a>
    <a href="mailto:martindkulev@gmail.com" class="btn btn-gmail mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-envelope me-2"></i> Gmail
    </a>
    <a href="https://x.com/MartinKulev1" target="_blank" class="btn btn-twitter mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-twitter me-2"></i> X (formerly Twitter)
    </a>
    <a href="https://www.instagram.com/martin_kulevv" target="_blank" class="btn btn-instagram mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-instagram me-2"></i> Instagram
    </a>
    <a href="https://www.facebook.com/martin.kulev.75/" target="_blank" class="btn btn-facebook mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-facebook me-2"></i> Facebook
    </a>
    <a href="https://www.tiktok.com/@@martin_kulev" target="_blank" class="btn btn-tiktok mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-tiktok me-2"></i> TikTok
    </a>
    <a href="https://www.youtube.com/@@martinkulev" target="_blank" class="btn btn-youtube mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-youtube me-2"></i> Youtube
    </a>
    <a href="https://www.twitch.tv/xfreebg" target="_blank" class="btn btn-twitch mb-4 w-50 d-flex justify-content-center p-2">
        <i class="bi bi-twitch me-2"></i> Twitch
    </a>
</section>
