@page "/linktree"
@using MartinKulev.Components

<PageTitle>LinkTree</PageTitle>

<h3 class="text-center mb-5">LinkTree</h3>
<section class="d-flex align-items-center flex-column">
    <LinkTreeItem Url="https://github.com/MartinKulev" CssClass="btn-github" Icon="bi bi-github" Text="Github" />
    <LinkTreeItem Url="https://www.linkedin.com/in/martinkulev/" CssClass="btn-linkedin" Icon="bi bi-linkedin" Text="LinkedIn" />
    <LinkTreeItem Url="mailto:martindkulev@gmail.com" CssClass="btn-gmail" Icon="bi bi-envelope" Text="Gmail" />
    <LinkTreeItem Url="https://x.com/MartinKulev1" CssClass="btn-x" Icon="bi bi-twitter-x" Text="X" />
    <LinkTreeItem Url="https://www.threads.com/%40martin_kulevv" CssClass="btn-threads" Icon="bi bi-threads" Text="Threads" />
    <LinkTreeItem Url="https://www.instagram.com/martin_kulevv" CssClass="btn-instagram" Icon="bi bi-instagram" Text="Instagram" />
    <LinkTreeItem Url="https://www.facebook.com/martin.kulev.75/" CssClass="btn-facebook" Icon="bi bi-facebook" Text="Facebook" />
    <LinkTreeItem Url="https://www.tiktok.com/%40martin_kulev" CssClass="btn-tiktok" Icon="bi bi-tiktok" Text="TikTok" />
    <LinkTreeItem Url="https://www.youtube.com/%40martinkulev" CssClass="btn-youtube" Icon="bi bi-youtube" Text="YouTube" />
    <LinkTreeItem Url="https://www.twitch.tv/xfreebg" CssClass="btn-twitch" Icon="bi bi-twitch" Text="Twitch" />
</section>
