@page "/techstack"
@using MartinKulev.Components

<PageTitle>TechStack</PageTitle>

<section class="techstack-section">
    <h3>My Tech Stack</h3>
    <p class="intro-text">Here’s a visual breakdown of my proficiency with various technologies.</p>

    <div class="tech-grid">
        <TechStackItem Name=".NET" Level="90" Icon="bi bi-filetype-cs" />
        <TechStackItem Name="EF Core" Level="90" Icon="bi bi-diagram-3" />
        <TechStackItem Name="SQL" Level="80" Icon="bi bi-database" />
        <TechStackItem Name="Blazor" Level="90" Icon="bi bi-lightning-charge" />
        <TechStackItem Name="ASP.NET MVC" Level="80" Icon="bi bi-diagram-2" />
        <TechStackItem Name="HTML" Level="90" Icon="bi bi-filetype-html" />
        <TechStackItem Name="CSS" Level="90" Icon="bi bi-filetype-css" />
        <TechStackItem Name="Bootstrap" Level="90" Icon="bi bi-bootstrap" />
        <TechStackItem Name="JavaScript" Level="30" Icon="bi bi-filetype-js" />
        <TechStackItem Name="Git" Level="80" Icon="bi bi-git" />
        <TechStackItem Name="Azure" Level="60" Icon="bi bi-cloud-arrow-up" />
        <TechStackItem Name="Microsoft Office" Level="80" Icon="bi bi-file-earmark-text" />
    </div>
</section>

